/* Style commun */
html {
    scroll-behavior: smooth;
}

h1, h2 {
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    color: hsl(210, 26%, 85%);
    text-align: center;
    animation: underline;
}

h3 {
    color: #0a1139;
}

h2 {    
    animation: underline 2s ease-in-out forwards;
}

nav {
    font-family: "Playwrite FR Moderne", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 15px;
}

a {
    color: hsl(210, 26%, 85%);
    text-decoration: none;
    border-width: 1px;
    border-radius: 30px;
    border: solid #391a0a 1px;
    padding: 5px 10px;
}

@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
